@charset "UTF-8";

.link-list{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding-top:2em;
    padding-left:5px;
    font-size:1.0625em
}
.link-list__item{
    display:block;
    width:100%;
    max-width:305px;
    height:90px;
    padding:10px
}

@media only screen and (min-width:750px){
    .link-list__item{width:50%}
}

.link-list__item-innner{
    height:100%;background-color:rgba(32,33,36,.5);
    box-shadow:2px 2px 5px rgba(0,0,0,.6);
    transform:skewX(-45deg)
}
.link-list__item-innner:active,
.link-list__item-innner:hover{
    background-color:#202124;
    box-shadow:2px 2px 10px rgba(255,255,255,.3);
    transition-duration:.45s;
    transition-property:background-color,box-shadow;
    transition-timing-function:ease-in;
    transition-delay:0
}
.link-list__link{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    font-family:Bellefair,"Shippori Mincho",YakuHanMP_Noto,"Noto Serif JP",Helvetica,"游ゴシック","Yu Gothic","ヒラギノ角ゴ ProN W3","メイリオ",Meiryo,serif;
    font-size:1.117647058823529em;
    color:inherit;
    text-decoration:none;
    transform:skewX(45deg)
}
.link-list__link:active,
.link-list__link:hover{
    color:#90a4ae;
    transition-duration:.45s;
    transition-property:color;
    transition-timing-function:ease-in;
    transition-delay:0
}

.link-list__link--twitter:active,
.link-list__link--twitter:hover{color:#1da1f2}
.link-list__link--youtube:active,
.link-list__link--youtube:hover{color:red}
.link-list__link--instagram:active,
.link-list__link--instagram:hover{color:#ba00b2}
.link-list__link--soundcloud:active,
.link-list__link--soundcloud:hover{color:#FE5000}
.link-list__link--twitch:active,
.link-list__link--twitch:hover{color:#6441a4}
.link-list__link--osu:active,
.link-list__link--osu:hover{color:#ff66aa}
.link-list__link--reddit:active,
.link-list__link--reddit:hover{color:#FF5700}
.link-list__link--geartics:active,
.link-list__link--geartics:hover{color:#039be5}
.link-list__link--note:active,
.link-list__link--note:hover{color:#41C9B2}
.link-list__link--alphapolis:active,
.link-list__link--alphapolis:hover{color:#e69b22}

.bio-list{
    padding-left:5px;
    font-size:1.0625em
}
.bio-list__year{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:3.5em;
    padding:.25em 1em;
    margin-top:3em;
    font-size:1.176470588235294em
}
.bio-list__year::before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    display:block;
    content:'';
    background-color:#3c4043;
    transform:skewX(-45deg)
}

.bio-list__month{
    display:flex;
    justify-content:center;
    align-items:center;
    width:3.5em;
    padding:.25em 1em;
    margin-top:2em
}
.bio-list__month-body{
    padding-left:3em
}
.bio-list__item{
    display:block;
    padding:.75em;
    border-bottom:1px solid #5f6368
}
.bio-list__item a{
    color:#8ab4f8;
    text-decoration:none
}
.bio-list__item a:hover{
    color:#8ab4f8;
    text-decoration:underline
}
.bio-list__item a:visited{
    color:#8a8adb
}
